@inherits DiaryCompBase

@using Bases
@using BlazorBootstrap
@using Models.Diaries
@using MauiBlazorWeb.Shared.Components.Widgets.Diaries

<div class="row">
	<div class="col">
		<LineChart @ref="lineChart"/>
	</div>
	<div class="col">
		<div class="row">
			<div class="col">
				<label>Select Time Span:</label>
				<InputSelect class="form-control" @bind-Value="timeSpan" @bind-Value:after="@RefreshDiaryComps">
					@foreach (var t in Enum.GetValues(typeof(TimePeriod)))
					{
						<option value="@t">@t</option>
					}
				</InputSelect>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="table-responsive">
					<table class="table float-end">
						<tbody>
							<tr>
								<th scope="col">Habits</th>
								@foreach (var col in numCols)
								{
									<th>@col.Name</th>
								}
							</tr>
							<tr>
								<th scope="col">Average</th>
								@foreach (var col in numCols)
								{
									if (isAverageCorrect[col.Id])
									{
										<th>
											@averages[col.Id].ToString("0.##")
										</th>

									}
									else
									{
										<th>
											-
										</th>
									}
								}
							</tr>
							<tr>
								<th scope="col">Show?</th>
								@foreach (var col in numCols)
								{
									<td class="tracker-post" @onclick="() => OnToggle(col.Id)">
										@(checkBox[col.Id] ? "X" : "")
									</td>
								}
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td colspan="@((numCols.Count + 1) / 2)">
									<button class="btn btn-info w-100" value="Show" @onclick="CheckAll">Show All</button>
								</td>
								<td colspan="@((numCols.Count + 1) / 2)">
									<button class="btn btn-info w-100" value="Show" @onclick="UnCheckAll">Hide All</button>
								</td>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<button class="btn btn-info w-100" @onclick="() => newHabitDialog.Show()">
					Add a new Diary column!
				</button>
			</div>
		</div>
	</div>
</div>
<NewDiaryColDialog IsHabit="false" @ref=newHabitDialog />

@code {
	private NewDiaryColDialog newHabitDialog;
	private List<Diary_log_column> numCols;

	private TimePeriod timeSpan;
	private Dictionary<int, bool> checkBox;
	private Dictionary<int, bool> isAverageCorrect;
	private Dictionary<int, double> averages;

	private LineChart lineChart;
	private LineChartOptions lineChartOptions;
	private ChartData chartData;

	private bool isChartInit = false;


	public DiaryStat()
	{
		newHabitDialog = new NewDiaryColDialog();
		IsHabit = false;

		numCols = new List<Diary_log_column>();

		checkBox = new Dictionary<int, bool>();
		isAverageCorrect = new Dictionary<int, bool>();
		averages = new Dictionary<int, double>();

		lineChart = new LineChart();
		lineChartOptions = new LineChartOptions();
		lineChartOptions.Responsive = true;

		chartData = new ChartData();
	}

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		await base.OnAfterRenderAsync(firstRender);
		if (firstRender)
		{
			await UpdateTables();
			await lineChart.InitializeAsync(chartData, lineChartOptions);
			isChartInit = true;
		}
	}

	private async Task OnToggle(int id)
	{
		checkBox[id] = !checkBox[id];
		await RefreshDiaryComps();
	}

	private async Task CheckAll()
	{
		foreach (var key in checkBox.Keys.ToList())
		{
			checkBox[key] = true;
		}
		await RefreshDiaryComps();
	}

	private async Task UnCheckAll()
	{
		foreach (var key in checkBox.Keys.ToList())
		{
			checkBox[key] = false;
		}
		await RefreshDiaryComps();
	}

	protected override async Task UpdateTables()
	{
		await base.UpdateTables();

		numCols = allCols.Where(c => c.Type == Models.Diaries.DiaryColumnType.NumberRange).ToList();

		foreach (var col in numCols)
		{
			List<Diary_log_post> posts = allPosts.Where(p => p.Diary_log_column_Id == col.Id && FilterPostsByTimePeriod(p.Date, DateTime.Today, timeSpan)).ToList();
			if (posts.Count != 0)
			{
				isAverageCorrect[col.Id] = true;
				double avg = posts.Average(p => Convert.ToInt32(p.Value));
				averages[col.Id] = avg;
			}
			else
			{
				isAverageCorrect[col.Id] = false;
			}
		}

		foreach (var col in numCols)
		{
			if (!checkBox.ContainsKey(col.Id))
			{
				checkBox[col.Id] = true;
			}
		}

		GenerateLineChartData();

		if (isChartInit)
			await lineChart.UpdateAsync(chartData, lineChartOptions);
	}

	private void GenerateLineChartData()
	{
		var datasets = new List<IChartDataset>();
		var dateStrings = new List<string>();

		bool first = true;
		foreach (var dateInTimeSpan in allDatesSinceReg.Where(d => FilterPostsByTimePeriod(d.Date, DateTime.Today, timeSpan)))
		{
			string dateString;
			if (first)
			{
				dateString = dateInTimeSpan.ToString("yyyy MMM dd");
				first = false;
			}
			else
			{
				switch (timeSpan)
				{
					case TimePeriod.Year:
						dateString = dateInTimeSpan.ToString("MMM dd");
						break;
					case TimePeriod.All:
						dateString = dateInTimeSpan.ToString("yyyy MMM dd");
						break;
					default:
						dateString = dateInTimeSpan.ToString("dd");
						break;
				}
			}

			dateStrings.Add(dateString);
		}

		if (numCols.Count == 0)
		{ 
			chartData = new ChartData { Labels = dateStrings, Datasets = datasets };
			return;
		}


		int i = 0;
		foreach (var col in numCols.Where(c => checkBox[c.Id]))
		{
			var c = ColorUtility.CategoricalTwelveColors[i++].ToColor();

			var dataset = new LineChartDataset
				{
					Label = col.Name,
					BackgroundColor = c.ToRgbString(),
					BorderColor = c.ToRgbString(),
					BorderWidth = 2,
					HoverBorderWidth = 4,
					SpanGaps = true
				};

			var data = new List<double?>();
			foreach (var dateInTimeSpan in allDatesSinceReg.Where(d => FilterPostsByTimePeriod(d.Date, DateTime.Today, timeSpan)))
			{
				double? num = null;
				var post = allPosts.FirstOrDefault(p => p.Diary_log_column_Id == col.Id && p.Date == dateInTimeSpan);
				if (post is not null)
					num = Convert.ToInt32(post.Value);

				data.Add(num);
			}

			dataset.Data = data;
			datasets.Add(dataset);
		}

		chartData = new ChartData { Labels = dateStrings, Datasets = datasets };

		double total = allDatesSinceReg.Where(d => FilterPostsByTimePeriod(d, DateTime.Today, timeSpan)).Count();

		if (numCols.Where(c => checkBox[c.Id]).Count() != 0)
		{
			lineChartOptions.Scales.Y.Min = numCols.Where(c => checkBox[c.Id]).Min(c => c.Value_range_min);
			lineChartOptions.Scales.Y.Max = numCols.Where(c => checkBox[c.Id]).Max(c => c.Value_range_max);
		}
	}
}

<style>
	.tracker-post {
		vertical-align: middle;
		background-color: ghostwhite;
		cursor: pointer;
		transition: background-color 0.3s;
	}

		.tracker-post:hover {
			background-color: powderblue;
		}
</style>