@inherits DiaryCompBase

@using Bases
@using Models.Diaries

<div class="row">
	<div class="col">
		<InputSelect class="form-control" @bind-Value=colId>
			<option value=0>Select a Habit</option>
			@foreach (var c in allCols)
			{
				<option value="@c.Id">@c.Name</option>
			}
		</InputSelect>
	</div>
	<div class="col">
		<button class="btn btn-warning" value="Show" @onclick="RefreshDiaryComps" disabled="@(colId == 0)">Show Stats</button>
	</div>
</div>
@if (isColViewSet)
{
	<div class="row">
		<div class="col">
			<Calendar Title="@title" RerenderParent="RefreshDiaryComps" SpecialDates="doneDates" OnDayClickAction="Toggle" @ref="calendar" />
		</div>
		<div class="col">
			<table class="table text-center" style="table-layout: fixed;">
				<thead>
					<tr>
						<th scope="col">Time span</th>
						<th scope="col">#</th>
						<th scope="col">%</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var timeSpan in Enum.GetValues(typeof(TimeSpan)))
					{
						<tr>
								@switch (timeSpan)
								{
									case TimeSpan.Week:
										<td>Last 7 days:</td>
									break;
									case TimeSpan.Month:
										<td>@calendar.CalendarDate.ToString("MMMM")</td>
									break;
									case TimeSpan.Year:
										<td>@calendar.CalendarDate.ToString("yyyy")</td>
									break;
									case TimeSpan.All:
										<td>All time</td>
									break;
								}
							<td>
								@numPer[(TimeSpan)timeSpan]
								/
								@totalPer[(TimeSpan)timeSpan]
							</td>
							<td>
								@((numPer[(TimeSpan)timeSpan] / (double)totalPer[(TimeSpan)timeSpan]).ToString("0.##%"))
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
}

@code {
	private string title = "-";
	private bool isColViewSet = false;
	private int colId = 0;

	private List<Diary_log_post> posts;
	private List<DateTime> doneDates;

	private Calendar calendar;

	private Dictionary<TimeSpan,int> numPer;
	private Dictionary<TimeSpan, int> totalPer;

	public HabitStat()
	{
		IsHabit = true;

		posts = new List<Diary_log_post>();
		doneDates = new List<DateTime>();

		numPer = new Dictionary<TimeSpan, int>();
		totalPer = new Dictionary<TimeSpan, int>();

		foreach (var timeSpan in Enum.GetValues(typeof(TimeSpan)))
		{
			numPer.Add((TimeSpan)timeSpan, 0);
			totalPer.Add((TimeSpan)timeSpan, 0);
		}

		calendar = new Calendar();
	}

	protected override async Task UpdateTables()
	{
		await base.UpdateTables();

		string? name = allCols.FirstOrDefault(c => c.Id == colId)?.Name;
		if (name is not null)
		{
			title = $"{name} Entries";
			isColViewSet = true;
		}
		else
		{
			isColViewSet = false;
		}

		posts = allPosts.Where(p => p.Diary_log_column_Id == colId).ToList();
		doneDates = posts.Where(p => p.Value == "X").Select(p => p.Date).Distinct().OrderBy(date => date).ToList();

		foreach (var timeSpan in Enum.GetValues(typeof(TimeSpan)))
		{
			numPer[(TimeSpan)timeSpan] = doneDates.Where(d => FilterPostsByTimeSpan(d, calendar.CalendarDate, (TimeSpan)timeSpan)).Count();
			totalPer[(TimeSpan)timeSpan] = allDatesSinceReg.Where(d => FilterPostsByTimeSpan(d, calendar.CalendarDate, (TimeSpan)timeSpan)).Count();
		}
	}

	private async Task Toggle(DateTime day)
	{
		await OnToggleHabitValue(colId, day);
	}
}
