@page "/habits"

@using DataLibrary
@using Models
@using Blazored.LocalStorage
@inject IDataAccess _data
@inject ILocalStorageService localStorage

<button class="btn btn-primary" @onclick="InsertData">Insert</button>
<button class="btn btn-warning" @onclick="UpdateData">Update</button>
<button class="btn btn-danger" @onclick="DeleteData">Delete</button>

<p>Stored Value: @storedValue</p>
<button @onclick="GetFromLocalStorage">Get from Local Storage</button>

@if (accounts == null)
{
	<p><em>Loading...</em></p>
}
else
{
	foreach (var acc in accounts)
	{
		<p>
			@acc.Username @acc.Age @acc.Sex @acc.Admin
		</p>
	}
}

@code {
	[CascadingParameter]
	public Action<string>? UpdateTitle { get; set; }
	protected override async Task OnInitializedAsync()
	{
		UpdateTitle?.Invoke("Habits");

		string sql = "select * from account";
		accounts = await _data.LoadData<Account, dynamic>(sql, new { });
	}

	List<Account> accounts;

	private async Task InsertData()
	{
		string sql = "Insert into account (username, age, sex) values (@a, @b, @c);";

		await _data.SaveData(sql, new { a = "dwake", b = 40, c = 1});

		await OnInitializedAsync();
	}

	private async Task UpdateData()
	{
		string sql = "Update account set age = 16 where username = 'dwake'";
		await _data.SaveData(sql, new { });

		await OnInitializedAsync();
	}

	private async Task DeleteData()
	{
		string sql = "Delete from account where age = 16";
		await _data.SaveData(sql, new { });

		await OnInitializedAsync();
	}

	


	private string storedValue;
	private async Task GetFromLocalStorage()
	{
		storedValue = await localStorage.GetItemAsync<string>("myKey") ?? "No value found";
	}
}

