@inherits SportCompBase

@using Bases
@using Models.Sports
@using MauiBlazorWeb.Shared.Components.Icons

<div class="row" style="background-color: #ffefef">
	<div class="col">
		<div class="row h4 fw-bold">
			<div class="col-auto">
				@(workout.Name ?? "Unnamed workout")
			</div>
			<div class="col-auto">
				@workout.Duration.ToString(@"hh\:mm\:ss")
			</div>
			@if (workout.Routine_Id is not null)
			{
				<div class="col-auto">
					Routine: @routineExampleWorkout.Name
				</div>
			}
			<div class="col-auto">
				@workout.Starttime.ToString("yyyy-MM-dd HH:mm")
			</div>

			<div class="col-auto float-end">
				<button class="btn btn-info" @onclick="() => GoToWorkout(workout)">
					<IconAdd />
				</button>
			</div>
		</div>
		<div class="row">
			<div class="col">
				@(workout.Notes ?? "No notes for this workout")
			</div>
		</div>
	</div>
</div>

<div class="row" style="background-color: lightslategray">
	<WorkoutExercisesBox Disabled="Disabled" WorkoutId="WorkoutId" />
</div>

@code {
	[Parameter]
	public required int WorkoutId { get; set; } = 0;
	[Parameter]
	public bool Disabled { get; set; } = false;

	private Workout workout = new();
	private Workout routineExampleWorkout = new();

	protected override async Task UpdateTables()
	{
		await base.UpdateTables();

		workout = await ValidateWorkout(WorkoutId);
		if (workout.Routine_Id is not null)
			routineExampleWorkout = (await SportManager.GetRoutineExample(workout.Account_does_Sport_Id, (int)workout.Routine_Id)).First();
	}

	private void GoToWorkout(Workout workout)
	{
		Navigation.NavigateTo($"workout/id={workout.Id}", true);
	}
}
