@inherits SportCompBase

@using Bases
@using Models.Sports
@using MauiBlazorWeb.Shared.Components.Icons

<div class="row" style="background-color: #ffefef">
	<div class="col">
		<div class="row h4 fw-bold">
			<div class="col-auto">
				@(Workout.Name ?? "Unnamed workout")
			</div>
			<div class="col-auto">
				@Workout.Duration.ToString(@"hh\:mm\:ss")
			</div>
			@if (Workout.Routine_Id is not null)
			{
				<div class="col-auto">
					Routine: @routineExampleWorkout.Name
				</div>
			}
			<div class="col-auto">
				@Workout.Starttime.ToString("yyyy-MM-dd HH:mm")
			</div>

			<div class="col-auto float-end">
				<button class="btn btn-info" @onclick="() => GoToWorkout(Workout)">
					<IconAdd />
				</button>
			</div>
		</div>
		<div class="row">
			<div class="col">
				@(Workout.Notes ?? "No notes for this workout")
			</div>
		</div>
	</div>
</div>

<div class="row" style="background-color: lightslategray">
	<WorkoutExercisesBox Workout="Workout" />
</div>

@code {
	[Parameter]
	public required Workout Workout { get; set; }

	private Workout routineExampleWorkout = new();

	protected override async Task UpdateTables()
	{
		await base.UpdateTables();

		if (Workout.Routine_Id is not null)
			routineExampleWorkout = (await SportAPI.GetRoutineExample(Workout.Account_does_Sport_Id, (int)Workout.Routine_Id)).First();
	}

	private void GoToWorkout(Workout workout)
	{
		Navigation.NavigateTo($"workout/id={workout.Id}", true);
	}
}
